* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

b,
strong {
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

ul,
ol {
  list-style: none; }

li {
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  overflow: hidden; }

a {
  text-decoration: none;
  color: #4885ed; }
  a:hover {
    border-bottom: 0.05em solid currentColor; }

[v-cloak] {
  display: none !important; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1.12rem; }

h5 {
  font-size: .83rem; }

h6 {
  font-size: .75rem; }

body {
  background: #eee;
  color: #212121;
  font-family: Helvetica, sans-serif; }

.press-your-luck {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background: #131313; }
  .press-your-luck .box figure {
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    border: 3px solid #212121; }
  .press-your-luck .box figcaption {
    display: none; }
  .press-your-luck .box.focus figure {
    -webkit-filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);
    filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);
    opacity: 1; }
  .press-your-luck .box.selected figure {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5; }
  .press-your-luck .box.blinking figure {
    -webkit-animation-name: blinkRedFilter;
    animation-name: blinkRedFilter;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.show-title {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.99);
  font-family: Oswald, sans-serif; }
  .show-title figure {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .show-title h1 {
    color: #eee;
    text-align: center;
    font-size: 6.5vw;
    position: relative;
    font-weight: 300;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 0.05em 0.05em 0.05em black;
    background: rgba(0, 0, 0, 0.5);
    line-height: 120%;
    padding: 0.5em 1em;
    z-index: 3; }
  .show-title .whammy-holder {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1; }
    .show-title .whammy-holder .whammy {
      width: 40vh; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1); }

.zoom-enter {
  opacity: 0;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1); }

.zoom-enter-active {
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.zoom-enter-to {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

@-webkit-keyframes blinkRedFilter {
  from {
    -webkit-filter: none;
    filter: none; }
  to {
    -webkit-filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);
    filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1); } }

@keyframes blinkRedFilter {
  from {
    -webkit-filter: none;
    filter: none; }
  to {
    -webkit-filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1);
    filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1); } }

.make-your-choice {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; }
  .make-your-choice .choice {
    width: 57%;
    position: absolute;
    top: 0;
    bottom: 0; }
    .make-your-choice .choice figcaption {
      font-size: 9vh;
      font-family: Oswald, sans-serif;
      color: white;
      text-shadow: 2px 2px 0 black, -2px -2px 0 black, 0.1em 0.1em 0.1em black;
      position: absolute; }
    .make-your-choice .choice.a {
      left: 0;
      background: blue;
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat; }
      .make-your-choice .choice.a figcaption {
        top: 20px;
        left: 20px; }
    .make-your-choice .choice.b {
      right: 0;
      background-color: red;
      -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
      .make-your-choice .choice.b figcaption {
        bottom: 20px;
        right: 20px; }

.countdown {
  min-height: 100vh;
  background: #111;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  /*
  &.time-up { background: linear-gradient(to bottom, #93291E, #ED213A);
    .circle, .warning-lights { display:none; animation: blinki; }
  }
  */ }
  .countdown .circle {
    height: 50vh;
    width: 50vh;
    background: -webkit-radial-gradient(lime, blue, aqua, magenta, yellow, red, lime);
    background: -o-radial-gradient(lime, blue, aqua, magenta, yellow, red, lime);
    background: radial-gradient(lime, blue, aqua, magenta, yellow, red, lime);
    border-radius: 50%;
    position: relative;
    -webkit-transition: background 2s ease;
    -o-transition: background 2s ease;
    transition: background 2s ease;
    text-align: center; }
    .countdown .circle:before {
      background: #111;
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      border-radius: 50%; }
  .countdown .flipper-holder {
    position: relative;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    width: 10vh;
    height: 25vh;
    display: inline-block; }
  .countdown .flipper {
    height: 35vh;
    -webkit-transform: translateY(-15%);
    -ms-transform: translateY(-15%);
    transform: translateY(-15%); }
    .countdown .flipper .fill {
      fill: #bbbbbb; }
    .countdown .flipper .outline {
      fill: #111; }
  .countdown .warning-lights {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    background: -webkit-gradient(linear, right top, left top, from(#f00000), to(#dc281e));
    background: -webkit-linear-gradient(right, #f00000, #dc281e);
    background: -o-linear-gradient(right, #f00000, #dc281e);
    background: linear-gradient(to left, #f00000, #dc281e); }

@-webkit-keyframes blinkingKF {
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; } }

@keyframes blinkingKF {
  25% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; } }
