$serif: 'Playfair Display', serif;
$sans: 'Work Sans', sans-serif;


.fixed-title { position: fixed; bottom:0.25em; left:0.25em; writing-mode: vertical-lr; transform:rotate(180deg);
  font-family: "League Gothic", Impact, sans-serif; color:rgba(0,0,0,0.6); font-size:3vw; z-index: 0;
}

.fixed-url { position: fixed; top:0.25em; right:0.25em; writing-mode: vertical-rl; 
  font-family: "League Gothic", Impact, sans-serif; color:rgba(0,0,0,0.6); font-size:3vw;
  .red { color:rgba(25,0,0,.8); }
}

.slide-background { background-repeat: no-repeat; background-position: center;}

table.math {
  td { border:none !important; text-align: center; }
  td.number { font-size:600%; line-height: 100%; padding:0; }
}