.screen(v-if="mode == 'sit down'")
  figure(:style="{ 'background-image': 'url(img/bg/sitdown.jpg)' }")

.screen.break-screen(v-if="mode == 'vote'")
  figure(v-if="player.number < 5" :style="{ 'background-image': 'url(img/bg/vote-1.jpg)' }")
  figure(v-else-if="player.number < 9" :style="{ 'background-image': 'url(img/bg/vote-2.jpg)' }")
  figure(v-else-if="player.number < 13" :style="{ 'background-image': 'url(img/bg/vote-3.jpg)' }")
  figure(v-else-if="!finals.active" :style="{ 'background-image': 'url(img/bg/vote-4.jpg)' }")
  figure(v-else-if="finals.active" :style="{ 'background-image': 'url(img/bg/vote-final.jpg)' }")