.screen.title-screen(v-if="mode == 'sit down'")
  //-figure(:style="{ 'background-image': 'url(img/bg/title-screen.jpg)' }")
  video(controls muted)
    source(src="/video/title.mp4" type="video/mp4")

.screen.break-screen(v-if="mode == 'vote'")
  figure(:style="{ 'background-image': 'url(img/bg/gd-vote-1.jpg)' }")