.screen.come-on-down(v-if="mode == 'come on down'")

  div(v-if="finals.active")

    .four-pics
      figure(v-for="f in finals.finalists" :style="{ 'background-image': 'url(img/players/big/'+f.pic+')' }")

    h1.final-four The Final Four!


  .bunnypoint(style="background-image:url(img/bg/bunnypoint.jpg)")

  //-div.heat-bg(v-else style="background-image:url(img/bg/glitter.jpg)")

    h1(v-if="player.number < 4") HEAT #1
    h1(v-else-if="player.number < 8") HEAT #2
    h1(v-else-if="player.number < 12") HEAT #3
    h1(v-else) HEAT #4
  //-div(v-if="player.number < 9")