.countdown(v-if="mode == 'countdown'" v-bind:class="{ 'time-up': (countdown.percent >= 100) }")

  .round-details
    .title
      h1(v-if="!finals.active" :class="{ long: current.title.length > 60 }") {{current.title}}
      h1(v-if="finals.active") {{finals.current.choice.title}}

    .timer-holder
      .circle(v-bind:style="{ background: computedCircleFill }")
        .flipper-holder(v-bind:style="'transform:rotate('+computedRotate+');'")
          svg.flipper(version='1.1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewbox='0 0 78.3 260' xml:space='preserve')
            path.fill(d='M38.9 254.9h-1c-8.4-.2-16.3-3.5-22.4-9.3-1-1.2-10.9-13.9-10.1-25.2L28.1 17.9v-.1c-.1-3.4 1.2-6.7 3.6-9.1 2.2-2.3 5.1-3.5 8.3-3.5 3 0 5.8 1.1 7.9 3.2 2.3 2.2 3.6 5.3 3.5 8.4v.1l21.7 204.9c-.6 18.5-15.6 33.1-34.2 33.1z' fill='#010101')
            path.outline(d='M40 3.1v4c2.5 0 4.8.9 6.5 2.6 1.9 1.8 2.9 4.3 2.9 7v.4l21.7 204.6c-.3 8.4-3.8 16.2-9.8 22-6.1 5.9-14 9.1-22.5 9.1h-1c-7.8-.2-15.3-3.3-21-8.6-1.3-1.6-10.3-13.4-9.6-23.7L30.1 18.3v-.6c-.1-2.8 1-5.6 3-7.7 1.8-1.9 4.2-2.9 6.8-2.9l.1-4m0 0c-3.5 0-7.1 1.4-9.7 4.1-2.8 2.8-4.3 6.6-4.1 10.6L3.3 220.2C2.4 233 13.9 247 13.9 247c6.5 6.1 15 9.6 23.8 9.9h1.1c19.6 0 35.7-15.6 36.3-35.2L53.4 16.8c.1-3.7-1.4-7.3-4.1-9.9-2.6-2.5-6-3.8-9.3-3.8z' fill='#cf2927')
    
    .image-holder
      img(v-if="!finals.active" :src="'img/drawings/' + current.file")
      img(v-if="finals.active" :src="'img/drawings/' + finals.current.choice.pic")

    .seconds-remaining(v-if="countdown.remaining < 11 && countdown.remaining > 0")
      .seconds {{countdown.remaining}}

  .warning-lights(v-bind:style="computedWarningLights" v-bind:class="{ blinking: (countdown.percent >= 100) }")

    .time-up-display(v-if="countdown.percent >= 100") 
      .text Time Up, {{player.name}}!