<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&amp;display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <meta name="description" content="">
  </head>
  <!--include _favicons.pug-->
  <!--include _social.pug-->
  <body>
    <div id="app" v-cloak>
      <div class="keywatch" tabindex="-1" @keyup.enter="doSomething"></div>
      <div class="press-your-luck" v-if="mode == 'spin' || mode == 'show title'">
        <div class="box" v-for="(box, index) in rounds[0]" :class="{ focus: box.focus, selected: box.selected, blinking: box.blinking }">
          <figure :style="{ 'backgroundImage': 'url(img/drawings/' + box.file +')' }"></figure>
          <figcaption v-text="box.title"> </figcaption>
        </div>
      </div>
      <transition name="fade">
        <div class="show-title" v-if="mode == 'show title'" @click="closeTheTitle()">
          <div class="whammy-holder" v-if="current.whammy"><img class="whammy" src="img/whammy1.png"></div>
          <transition name="zoom">
            <figure v-if="mode == 'show title'" :style="{ 'backgroundImage': 'url(img/drawings/' + current.file +')' }"></figure>
          </transition>
          <div class="inner">
            <h1 v-text="current.title"></h1>
          </div>
        </div>
      </transition>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script>const testing = true;</script>
      <script src="js/libraries/howler.min.js"></script>
      <script src="js/min/site.min.js?updated2019-08-17@13:30:22"></script>
    </div>
  </body>
</html>