.come-on-down { background: #212121; color:#eee; display:flex; align-items: center; justify-content: center; 
  .heat-bg { @include position(absolute,0,0,0,0); display:flex; align-items: center; justify-content: center; background-size:cover;  }

  h1 { font-size:13vw; }
  li { font-size:4vw; list-style-type: decimal; }
  i { @include position(absolute,null,0.2em,0.2em); font-size:4vw; color:#ee3333; text-shadow: 0.05em 0.05em 0.05em black, -2px -2px 2px black; }

  .four-pics { display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr;  @include position(fixed,0,0,0,0);
    figure { position: relative; }
  }
  h1 { position: relative; text-shadow: 0.05em 0.05em 0 rgba(0,0,0,0.9), -0.01em -0.01em 0.01em black; }

}
