.countdown { min-height: 100vh; background:#111; @include flex-center(); position: relative;
  .circle { height:50vh; width:50vh; background: radial-gradient(lime, blue,aqua,magenta,yellow,red,lime); border-radius: 50%; position: relative;
    transition: background 2s ease;
    &:before { background:#111; content: ' '; @include position(absolute,0,0,0,0); transform:scale(0.8); border-radius: 50%; }
    text-align: center;
  }
  .flipper-holder { position: relative; transform-origin: bottom; width:10vh; height:25vh; display: inline-block; }
  .flipper { height:35vh; transform:translateY(-15%);
    .fill { fill:#bbbbbb; }
    .outline { fill:#111; }
  }

  .warning-lights { @include position(absolute,null,0,0,0); height:0; background:linear-gradient(to left, #f00000, #dc281e);
    //&.blinking { animation: blinkingKF 0.3s infinite; }
  }


  /*
  &.time-up { background: linear-gradient(to bottom, #93291E, #ED213A);
    .circle, .warning-lights { display:none; animation: blinki; }
  }
  */

}

@keyframes blinkingKF {
  25%  { opacity: 1; }
  50%  { opacity: 0; }
  75%  { opacity: 1; }
}