[v-cloak] { display: none !important; }

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.17rem; }
h4 { font-size: 1.12rem; }
h5 { font-size: .83rem; }
h6 { font-size: .75rem; }

body { background:$body; color:$copy; font-family:$font-family; }
a { @extend %textlink; }

@keyframes adamclack {
  0%  { filter: none; }
  30% { filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1); opacity: 1;  }
  70% { filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1); opacity: 1; }
  100%  { filter: none; }
}

.press-your-luck { display:grid;  grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(3, 1fr); height:100vh; background:#131313;
  .box {
    figure { height:100%; background-size:cover; background-position: center; opacity:0.8; border:3px solid $black; }
    figcaption { display:none; }
    &.focus {
      figure { filter: sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1); opacity: 1; }
    }
    &.selected { 
      figure { filter: grayscale(100%); opacity: 0.5; }
    }
    &.blinking {
      figure { animation-name:blinkRedFilter; animation-duration: 0.15s; animation-iteration-count: infinite; }
    }
    &.huge { grid-column: span 2; grid-row: span 3;
      //figure { background-position: top center; }
      //&.focus figure { animation-name: adamclack; animation-duration: 1s; animation-iteration-count: infinite; transition: none; }
    }
  }
}


.show-title { @include position(fixed,0,0,0,0); /* @include flex-center(); */ background:rgba(0,0,0,0.99);
  figure { @include position(absolute,0,0,0,0); background-size:contain; background-position: center; background-repeat: no-repeat; }

  .box-title { text-align: center; position: relative; background:rgba(0,0,0,0.5); padding:0.5em 3vw; z-index: 3;
    h1 { color:$white; font-size:6.5vw;  font-weight: 300;  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 0.05em 0.05em 0.05em black;
      a { color:currentColor;
        &:hover { color:yellow; }
      }
    }
    cite { color:$white; font-size:2.5vw; text-shadow: 1px 1px 0 black, 0.05em 0.05em 0.05em rgba(0,0,0,0.5); display: block; text-align: right; }
  }
  

  .whammy-holder { @include position(absolute,null,null,20px,20px); z-index: 1;
    .whammy { width:35vh; }
  }

  .code-holder { @include position(absolute,null,0,0,null);
    .code { font-size:42px; background:rgba(255,255,255,0.8); padding:0.25em 0.5em; font-weight: 900; }
  }
}


.box-drawing { 
  animation-name: PlayerPicZoom;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.box-title {
  opacity: 0;
  animation-name: boxTitleSlide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.75,-0.5,0,1.75);
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  cite { 
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 4.8s;
    animation-fill-mode: forwards;
  }
}
.whammy-holder {
  opacity: 0;
  animation-name: whammySlide;
  animation-duration: 1.1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.75,-0.5,0,1.75);
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}
.whammy { 
  transform-origin: 50% 100%;
  animation: jump 1s linear infinite;
}

.screen { @include position(fixed,0,0,0,0); 
  figure { @include position(absolute,0,0,0,0); background-size:cover; background-position: center; background-repeat: no-repeat; }
}