- const talkTitle = "What the fuck is all this?"
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title= talkTitle
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Work+Sans:300,400,700")
  link(rel='stylesheet' href='css/reveal.css')
  link(rel='stylesheet' href='css/theme/blood.css')
  // Theme used for syntax highlighting of code
  link(rel='stylesheet' href='lib/css/zenburn.css')
  // Printing and PDF exports

  script.
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
    
  link(rel='stylesheet' href='css/overwrites.css')
body  
  include partials/_mixins.pug

  .reveal
    .slides
      section
        section(data-autoplay data-background-video="video/title.mp4")
        //-section
          h1 Title Screen
      section
        section
          h2 The Premise:
          ul
            li.fragment 16 players
            li.fragment 1 winner
        section

          table.math
            tr
              td.number 4
              td(rowspan="2") x
              td.number 4
            tr
              td heats
              td players

        section(data-background="img/rules/button.png")
        section
          p They get a document
          p.fragment They have eight minutes.
        section(data-background-color="#ff0000")
          h1(style="color:gold") PANIC
        section
          p But wait, 
            span.fragment there's more.
        section(data-background="img/rules/statler-waldorf.jpg" data-background-size="cover")

        section(data-background="img/rules/you.jpg" data-background-transition="zoom")

        section
          h3 Who is the
            br
            span(style="color:lime") motherfucking best
            | ?
          ul.fragment
            li Vote using whatever criteria you like.
            li Only vote once per round.
            li One winner will be selected.

        section(data-background="img/rules/bracket.png" data-background-size="contain")

        section
          h3 Players are encouraged to:
          ul.fragment
            li be funny.
            li drink.
            li use any tactic to get the audence to vote for them.
          
      
        section
          h3 Players are discouraged from:
          ul.fragment
            li trying to be educational.
            li disrespecting the venue.
            li talking about Frank West's reading from F Plus Live 3.
        
        section
          h3 EVERYONE is encouraged to:
          ul.fragment
            li have fun.
            li be nice to each other.
            li 
              i tip generously!
        
        section(data-background="img/bg/prizes.jpg" data-background-size="cover")
          h2 PRIZES!

        section(data-background="img/bg/celebrity.jpg" data-background-size="cover")
          h2 Celebrity Guest!
          
      section
        section(data-background-video="video/title.mp4" data-background-video-muted="true")






          
  script(src='lib/js/head.min.js')
  script(src='js/libraries/reveal.js')
  script.
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      history: true,
      autoSlide: false,
      controls: true,
      progress: true,
      autoPlayMedia: true,
      autoSlideStoppable: false,
      backgroundTransition: 'slide',
      transitionSpeed: 'slow',
      //shuffle: true,
      //slideNumber: true,
      loop: false,
      dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/zoom-js/zoom.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
