- const talkTitle = "Related to nothing, I like these images"
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title= talkTitle
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Work+Sans:300,400,700")
  link(rel='stylesheet' href='css/reveal.css')
  link(rel='stylesheet' href='css/theme/solarized.css')
  // Theme used for syntax highlighting of code
  link(rel='stylesheet' href='lib/css/zenburn.css')
  // Printing and PDF exports

  script.
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
    
  link(rel='stylesheet' href='css/overwrites.css')
body  
  include partials/_mixins.pug
  .fixed-title Related to nothing...
  .reveal
    .slides
      section(data-background="img/random/1.png" data-background-size="contain")
      section(data-background="img/random/2.jpg" data-background-size="contain")
      section(data-background="img/random/3.jpg" data-background-size="contain")
      section(data-background="img/random/4.jpg" data-background-size="contain")
      section(data-background="img/random/5.jpg" data-background-size="contain")
      section(data-background="img/random/6.jpg" data-background-size="contain")
      section(data-background="img/random/7.jpg" data-background-size="contain")
      section(data-background="img/random/8.jpg" data-background-size="contain")
      section(data-background="img/random/9.jpg" data-background-size="contain")
      section(data-background="img/random/10.jpg" data-background-size="contain")
      section(data-background="img/random/11.jpg" data-background-size="contain")
      section(data-background="img/random/12.jpg" data-background-size="contain")
      section(data-background="img/random/13.jpg" data-background-size="contain")
      section(data-background="img/random/14.jpg" data-background-size="contain")
      section(data-background="img/random/15.jpg" data-background-size="contain")
      section(data-background="img/random/16.jpg" data-background-size="contain")
      section(data-background="img/random/17.jpg" data-background-size="contain")
      section(data-background="img/random/18.jpg" data-background-size="contain")
      section(data-background="img/random/19.png" data-background-size="contain")
      section(data-background="img/random/20.jpg" data-background-size="contain")
      section(data-background="img/random/21.jpg" data-background-size="contain")
      section(data-background="img/random/22.jpg" data-background-size="contain")
      section(data-background="img/random/23.jpg" data-background-size="contain")
      section(data-background="img/random/24.jpg" data-background-size="contain")
      section(data-background="img/random/25.gif" data-background-size="contain")
      section(data-background="img/random/26.gif" data-background-size="contain")
      section(data-background="img/random/27.jpg" data-background-size="contain")
      section(data-background="img/random/28.jpg" data-background-size="contain")
      section(data-background="img/random/29.png" data-background-size="contain")
      section(data-background="img/random/30.jpg" data-background-size="contain")
      section(data-background="img/random/31.jpg" data-background-size="contain")
      section(data-background="img/random/32.jpg" data-background-size="contain")
      section(data-background="img/random/33.jpg" data-background-size="contain")
      section(data-background="img/random/34.gif" data-background-size="contain")
      section(data-background="img/random/35.gif" data-background-size="contain")
      section(data-background="img/random/36.gif" data-background-size="contain")
      section(data-background="img/random/37.jpg" data-background-size="contain")
      section(data-background="img/random/38.jpg" data-background-size="contain")
      section(data-background="img/random/39.png" data-background-size="contain")
      section(data-background="img/random/40.jpg" data-background-size="contain")
      section(data-background="img/random/41.jpg" data-background-size="contain")
      section(data-background="img/random/42.jpg" data-background-size="contain")
      section(data-background="img/random/43.jpg" data-background-size="contain")
      section(data-background="img/random/44.gif" data-background-size="contain")
      section(data-background="img/random/45.jpg" data-background-size="contain")
      section(data-background="img/random/46.jpg" data-background-size="contain")
      section(data-background="img/random/47.jpg" data-background-size="contain")
      section(data-background="img/random/48.jpg" data-background-size="contain")
      section(data-background="img/random/49.jpg" data-background-size="contain")
      section(data-background="img/random/50.jpg" data-background-size="contain")
      section(data-background="img/random/51.jpg" data-background-size="contain")
      section(data-background="img/random/52.jpg" data-background-size="contain")
      section(data-background="img/random/53.jpg" data-background-size="contain")
      section(data-background="img/random/54.gif" data-background-size="contain")
      section(data-background="img/random/54.jpg" data-background-size="contain")
      section(data-background="img/random/55.jpg" data-background-size="contain")
      section(data-background="img/random/56.jpg" data-background-size="contain")
      section(data-background="img/random/57.jpg" data-background-size="contain")
      section(data-background="img/random/58.jpg" data-background-size="contain")
      section(data-background="img/random/59.png" data-background-size="contain")
      section(data-background="img/random/60.gif" data-background-size="contain")
      section(data-background="img/random/61.jpg" data-background-size="contain")
      section(data-background="img/random/62.jpg" data-background-size="contain")
      section(data-background="img/random/63.jpg" data-background-size="contain")
      section(data-background="img/random/64.jpg" data-background-size="contain")
      section(data-background="img/random/65.png" data-background-size="contain")
      section(data-background="img/random/66.png" data-background-size="contain")
      section(data-background="img/random/67.png" data-background-size="contain")
      section(data-background="img/random/68.jpg" data-background-size="contain")
      section(data-background="img/random/69.gif" data-background-size="contain")
      section(data-background="img/random/70.jpg" data-background-size="contain")
      section(data-background="img/random/71.jpg" data-background-size="contain")
      section(data-background="img/random/72.gif" data-background-size="contain")
      section(data-background="img/random/73.jpg" data-background-size="contain")
      section(data-background="img/random/74.jpg" data-background-size="contain")
      section(data-background="img/random/75.jpg" data-background-size="contain")
      section(data-background="img/random/76.jpg" data-background-size="contain")
      section(data-background="img/random/77.jpg" data-background-size="contain")
      section(data-background="img/random/78.gif" data-background-size="contain")
      section(data-background="img/random/79.gif" data-background-size="contain")
      section(data-background="img/random/80.jpg" data-background-size="contain")
      section(data-background="img/random/81.jpg" data-background-size="contain")
      section(data-background="img/random/82.jpg" data-background-size="contain")
      section(data-background="img/random/83.jpg" data-background-size="contain")
      section(data-background="img/random/84.gif" data-background-size="contain")
      section(data-background="img/random/85.jpg" data-background-size="contain")
      section(data-background="img/random/86.jpg" data-background-size="contain")
      section(data-background="img/random/87.gif" data-background-size="contain")
      section(data-background="img/random/88.jpg" data-background-size="contain")
      section(data-background="img/random/90.jpg" data-background-size="contain")
      section(data-background="img/random/91.jpg" data-background-size="contain")
      section(data-background="img/random/92.gif" data-background-size="contain")
      section(data-background-video="img/random/93.webm" data-background-size="contain")
      section(data-background="img/random/94.jpg" data-background-size="contain")
      section(data-background="img/random/95.jpg" data-background-size="contain")
      section(data-background="img/random/96.png" data-background-size="contain")
      section(data-background="img/random/97.jpg" data-background-size="contain")
      section(data-background="img/random/98.jpg" data-background-size="contain")
      section(data-background="img/random/99.jpg" data-background-size="contain")

      // Stopped at page 350.
    
  script(src='lib/js/head.min.js')
  script(src='js/libraries/reveal.js')
  script.
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      history: true,
      autoSlide: 6000,
      autoPlayMedia: true,
      autoSlideStoppable: false,
      backgroundTransition: 'zoom',
      transitionSpeed: 'slow',
      //shuffle: true,
      slideNumber: true,
      loop: true,
      dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/zoom-js/zoom.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
