- const talkTitle = "Related to nothing, I like these images"
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title= talkTitle
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Work+Sans:300,400,700")
  link(rel='stylesheet' href='css/reveal.css')
  link(rel='stylesheet' href='css/theme/solarized.css')
  // Theme used for syntax highlighting of code
  link(rel='stylesheet' href='lib/css/zenburn.css')
  // Printing and PDF exports

  script.
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
    
  link(rel='stylesheet' href='css/overwrites.css')
body  
  include partials/_mixins.pug
  .fixed-title Related to nothing...
  .fixed-url ...i like this picture.
  //-.fixed-url 
    | ...vote online at 
    span.red motherfucking.best
  .reveal
    .slides
      section(data-background="img/random/1.png" data-background-size="contain")
      //section(data-background="img/random/2.jpg" data-background-size="contain")
      //section(data-background="img/random/3.jpg" data-background-size="contain")
      section(data-background="img/random/4.jpg" data-background-size="contain")
      //section(data-background="img/random/5.jpg" data-background-size="contain")
      //section(data-background="img/random/6.jpg" data-background-size="contain")
      section(data-background="img/random/7.jpg" data-background-size="contain")
      section(data-background="img/random/8.jpg" data-background-size="contain")
      section(data-background="img/random/9.jpg" data-background-size="contain")
      section(data-background="img/random/10.jpg" data-background-size="contain")
      //section(data-background="img/random/11.jpg" data-background-size="contain")
      section(data-background="img/random/12.jpg" data-background-size="contain")
      section(data-background="img/random/13.jpg" data-background-size="contain")
      section(data-background="img/random/14.jpg" data-background-size="contain")
      section(data-background="img/random/15.jpg" data-background-size="contain")
      section(data-background="img/random/16.jpg" data-background-size="contain")
      section(data-background="img/random/17.jpg" data-background-size="contain")
      section(data-background="img/random/18.jpg" data-background-size="contain")
      section(data-background="img/random/19.png" data-background-size="contain")
      section(data-background="img/random/20.jpg" data-background-size="contain")
      section(data-background="img/random/21.jpg" data-background-size="contain")
      section(data-background="img/random/22.jpg" data-background-size="contain")
      section(data-background="img/random/23.jpg" data-background-size="contain")
      section(data-background="img/random/24.jpg" data-background-size="contain")
      section(data-background="img/random/25.gif" data-background-size="contain")
      section(data-background="img/random/26.gif" data-background-size="contain")
      section(data-background="img/random/27.jpg" data-background-size="contain")
      section(data-background="img/random/28.jpg" data-background-size="contain")
      //-section(data-background="img/random/29.png" data-background-size="contain")
      section(data-background="img/random/30.jpg" data-background-size="contain")
      section(data-background="img/random/31.jpg" data-background-size="contain")
      section(data-background="img/random/32.jpg" data-background-size="contain")
      section(data-background="img/random/33.jpg" data-background-size="contain")
      section(data-background="img/random/34.gif" data-background-size="contain")
      section(data-background="img/random/35.gif" data-background-size="contain")
      section(data-background="img/random/36.gif" data-background-size="contain")
      section(data-background="img/random/37.jpg" data-background-size="contain")
      section(data-background="img/random/38.jpg" data-background-size="contain")
      section(data-background="img/random/39.png" data-background-size="contain")
      section(data-background="img/random/40.jpg" data-background-size="contain")
      section(data-background="img/random/41.jpg" data-background-size="contain")
      section(data-background="img/random/42.jpg" data-background-size="contain")
      section(data-background="img/random/43.jpg" data-background-size="contain")
      section(data-background="img/random/44.gif" data-background-size="contain")
      section(data-background="img/random/45.jpg" data-background-size="contain")
      section(data-background="img/random/46.jpg" data-background-size="contain")
      section(data-background="img/random/47.jpg" data-background-size="contain")
      section(data-background="img/random/48.jpg" data-background-size="contain")
      section(data-background="img/random/49.jpg" data-background-size="contain")
      section(data-background="img/random/50.jpg" data-background-size="contain")
      section(data-background="img/random/51.jpg" data-background-size="contain")
      section(data-background="img/random/52.jpg" data-background-size="contain")
      section(data-background="img/random/53.jpg" data-background-size="contain")
      section(data-background="img/random/54.gif" data-background-size="contain")
      section(data-background="img/random/54.jpg" data-background-size="contain")
      section(data-background="img/random/55.jpg" data-background-size="contain")
      section(data-background="img/random/56.jpg" data-background-size="contain")
      section(data-background="img/random/57.jpg" data-background-size="contain")
      section(data-background="img/random/58.jpg" data-background-size="contain")
      section(data-background="img/random/59.png" data-background-size="contain")
      section(data-background="img/random/60.gif" data-background-size="contain")
      section(data-background="img/random/61.jpg" data-background-size="contain")
      section(data-background="img/random/62.jpg" data-background-size="contain")
      section(data-background="img/random/63.jpg" data-background-size="contain")
      section(data-background="img/random/64.jpg" data-background-size="contain")
      section(data-background="img/random/65.png" data-background-size="contain")
      section(data-background="img/random/66.png" data-background-size="contain")
      section(data-background="img/random/67.png" data-background-size="contain")
      section(data-background="img/random/68.jpg" data-background-size="contain")
      section(data-background="img/random/69.gif" data-background-size="contain")
      section(data-background="img/random/70.jpg" data-background-size="contain")
      section(data-background="img/random/71.jpg" data-background-size="contain")
      section(data-background="img/random/72.gif" data-background-size="contain")
      section(data-background="img/random/73.jpg" data-background-size="contain")
      section(data-background="img/random/74.jpg" data-background-size="contain")
      section(data-background="img/random/75.jpg" data-background-size="contain")
      section(data-background="img/random/76.jpg" data-background-size="contain")
      section(data-background="img/random/77.jpg" data-background-size="contain")
      section(data-background="img/random/78.gif" data-background-size="contain")
      section(data-background="img/random/79.gif" data-background-size="contain")
      section(data-background="img/random/80.jpg" data-background-size="contain")
      section(data-background="img/random/81.jpg" data-background-size="contain")
      section(data-background="img/random/82.jpg" data-background-size="contain")
      section(data-background="img/random/83.jpg" data-background-size="contain")
      section(data-background="img/random/84.gif" data-background-size="contain")
      section(data-background="img/random/85.jpg" data-background-size="contain")
      section(data-background="img/random/86.jpg" data-background-size="contain")
      section(data-background="img/random/87.gif" data-background-size="contain")
      section(data-background="img/random/88.jpg" data-background-size="contain")
      section(data-background="img/random/90.jpg" data-background-size="contain")
      section(data-background="img/random/91.jpg" data-background-size="contain")
      section(data-background="img/random/92.gif" data-background-size="contain")
      section(data-background-video="img/random/93.webm" data-background-video-loop="loop" data-background-size="contain")
      section(data-background="img/random/94.jpg" data-background-size="contain")
      section(data-background="img/random/95.jpg" data-background-size="contain")
      section(data-background="img/random/96.png" data-background-size="contain")
      section(data-background="img/random/97.jpg" data-background-size="contain")
      section(data-background="img/random/98.jpg" data-background-size="contain")
      section(data-background="img/random/99.jpg" data-background-size="contain")
      section(data-background="img/random/100.gif" data-background-size="contain")
      section(data-background="img/random/101.jpg" data-background-size="contain")
      section(data-background="img/random/102.jpg" data-background-size="contain")
      section(data-background="img/random/103.jpg" data-background-size="contain")
      section(data-background="img/random/104.jpg" data-background-size="contain")
      section(data-background="img/random/105.jpg" data-background-size="contain")
      section(data-background="img/random/106.jpg" data-background-size="contain")
      section(data-background="img/random/107.jpg" data-background-size="contain")
      section(data-background="img/random/108.jpg" data-background-size="contain")
      section(data-background="img/random/109.jpg" data-background-size="contain")
      section(data-background="img/random/110.jpg" data-background-size="contain")
      section(data-background="img/random/111.jpg" data-background-size="contain")
      section(data-background="img/random/112.jpg" data-background-size="contain")
      section(data-background="img/random/113.jpg" data-background-size="contain")
      section(data-background="img/random/114.jpg" data-background-size="contain")
      section(data-background="img/random/115.jpg" data-background-size="contain")
      section(data-background="img/random/116.jpg" data-background-size="contain")
      section(data-background="img/random/117.png" data-background-size="contain")
      section(data-background="img/random/118.jpg" data-background-size="contain")
      section(data-background="img/random/119.jpg" data-background-size="contain")
      section(data-background="img/random/120.jpg" data-background-size="contain")
      //section(data-background="img/random/121.jpg" data-background-size="contain")
      section(data-background="img/random/122.gif" data-background-size="contain")
      section(data-background-video="img/random/123.mp4" data-background-video-loop="loop" data-background-size="contain")
      section(data-background="img/random/124.jpg" data-background-size="contain")
      section(data-background="img/random/125.jpg" data-background-size="contain")
      section(data-background="img/random/126.jpg" data-background-size="contain")
      section(data-background="img/random/127.jpg" data-background-size="contain")
      section(data-background="img/random/128.jpg" data-background-size="contain")
      section(data-background="img/random/129.jpg" data-background-size="contain")
      section(data-background="img/random/130.jpg" data-background-size="contain")
      section(data-background="img/random/131.png" data-background-size="contain")
      section(data-background="img/random/132.jpg" data-background-size="contain")
      section(data-background="img/random/133.jpg" data-background-size="contain")
      section(data-background="img/random/134.jpg" data-background-size="contain")
      section(data-background="img/random/135.jpg" data-background-size="contain")
      section(data-background="img/random/136.png" data-background-size="contain")
      section(data-background="img/random/137.jpg" data-background-size="contain")
      section(data-background="img/random/138.jpg" data-background-size="contain")
      section(data-background="img/random/139.jpg" data-background-size="contain")
      section(data-background="img/random/140.jpg" data-background-size="contain")
      section(data-background="img/random/141.jpg" data-background-size="contain")
      section(data-background="img/random/142.jpg" data-background-size="contain")
      section(data-background="img/random/143.jpg" data-background-size="contain")
      section(data-background="img/random/144.jpg" data-background-size="contain")
      section(data-background="img/random/145.jpg" data-background-size="contain")
      section(data-background="img/random/146.jpg" data-background-size="contain")
      section(data-background="img/random/147.jpg" data-background-size="contain")
      section(data-background="img/random/148.jpg" data-background-size="contain")
      section(data-background="img/random/149.jpg" data-background-size="contain")
      section(data-background="img/random/150.jpg" data-background-size="contain")
      section(data-background="img/random/151.jpg" data-background-size="contain")
      section(data-background="img/random/152.png" data-background-size="contain")
      section(data-background="img/random/153.jpg" data-background-size="contain")
      section(data-background="img/random/154.jpg" data-background-size="contain")
      section(data-background="img/random/155.jpg" data-background-size="contain")
      section(data-background="img/random/156.jpg" data-background-size="contain")
      section(data-background="img/random/157.jpg" data-background-size="contain")
      section(data-background="img/random/158.png" data-background-size="contain")
      section(data-background="img/random/159.jpg" data-background-size="contain")
      section(data-background="img/random/160.jpg" data-background-size="contain")
      section(data-background="img/random/161.jpg" data-background-size="contain")
      section(data-background="img/random/162.jpg" data-background-size="contain")
      section(data-background="img/random/163.jpg" data-background-size="contain")
      section(data-background="img/random/164.jpg" data-background-size="contain")
      section(data-background="img/random/165.jpg" data-background-size="contain")
      section(data-background="img/random/166.jpg" data-background-size="contain")
      section(data-background="img/random/167.jpg" data-background-size="contain")
      section(data-background="img/random/169.jpg" data-background-size="contain")
      section(data-background="img/random/170.png" data-background-size="contain")
      section(data-background="img/random/171.jpg" data-background-size="contain")
      section(data-background="img/random/172.jpg" data-background-size="contain")
      section(data-background="img/random/173.jpg" data-background-size="contain")
      section(data-background="img/random/174.jpg" data-background-size="contain")
      section(data-background="img/random/175.jpg" data-background-size="contain")
      section(data-background="img/random/176.jpg" data-background-size="contain")
      section(data-background="img/random/177.jpg" data-background-size="contain")
      section(data-background="img/random/178.jpg" data-background-size="contain")
      section(data-background="img/random/179.jpg" data-background-size="contain")
      section(data-background="img/random/180.gif" data-background-size="contain")
      section(data-background="img/random/181.jpg" data-background-size="contain")
      section(data-background="img/random/182.jpg" data-background-size="contain")
      section(data-background="img/random/183.jpg" data-background-size="contain")
      section(data-background="img/random/184.jpg" data-background-size="contain")
      section(data-background="img/random/185.jpg" data-background-size="contain")
      section(data-background="img/random/186.jpg" data-background-size="contain")
      section(data-background="img/random/187.jpg" data-background-size="contain")
      //section(data-background="img/random/188.jpg" data-background-size="contain")
      section(data-background="img/random/189.jpg" data-background-size="contain")
      section(data-background="img/random/190.jpg" data-background-size="contain")
      section(data-background="img/random/191.jpg" data-background-size="contain")
      section(data-background="img/random/192.jpg" data-background-size="contain")
      section(data-background-video="img/random/193.mp4" data-background-video-loop="loop" data-background-size="contain")
      section(data-background-video="img/random/194.mp4" data-background-video-loop="loop" data-background-size="contain")
      section(data-background="img/random/195.jpg" data-background-size="contain")
      section(data-background="img/random/196.jpg" data-background-size="contain")
      section(data-background="img/random/197.jpg" data-background-size="contain")
      section(data-background="img/random/198.jpg" data-background-size="contain")
      section(data-background="img/random/199.jpg" data-background-size="contain")

      // Stopped at page 678.
    
  script(src='lib/js/head.min.js')
  script(src='js/libraries/reveal.js')
  script.
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      //history: true,
      autoSlide: 13000,
      controls: false,
      progress: true,
      autoPlayMedia: true,
      autoSlideStoppable: false,
      backgroundTransition: 'zoom',
      //backgroundTransition: 'fade',
      backgroundTransition: 'convex',
      transitionSpeed: 'slow',
      shuffle: true,
      slideNumber: true,
      loop: true,
      dependencies: [
      { src: 'plugin/markdown/marked.js' },
      { src: 'plugin/markdown/markdown.js' },
      { src: 'plugin/zoom-js/zoom.js' },
      { src: 'plugin/notes/notes.js', async: true },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
    });
